{% extends "base.html" %}

{% block content %}

<div class="disease-stats" id="disease-detection" style="padding: 20px; min-height: 300px;">
    <h2 class="subheading">Disease Detection</h2>
    <div class="container" style="padding: 20px;">
        <div class="upload-container" style="padding: 20px; min-height: 300px;">
            <div id="drop-area">
                <img src="{{ url_for('static', filename='cloud.png') }}" alt="Upload Cloud" class="upload-icon">
                <form id="uploadForm" class="upload-form" method="post" enctype="multipart/form-data">
                    <p>Drag & drop, or <label for="fileElem" class="browse-label">browse</label> your files</p>
                    <input type="file" id="fileElem" name="file" accept="image/*" required onchange="handleFiles(this.files)">
                    <input type="submit" value="Predict" class="styled-upload-button">
                </form>
            </div>
        </div>

        <div class="image-container" style="padding: 20px; min-height: 300px;">
            <div id="gallery">
                {% if uploaded_image %}
                    <img src="{{ url_for('static', filename=uploaded_image) }}" alt="Uploaded Image">
                {% endif %}
            </div>

            {% if result %}
                <h2 id="prediction">Prediction: {{ result }}</h2>
            {% endif %}
        </div>
    </div>

    <div class="disclaimer">
        <p><strong>Note:</strong> Consider providing images from various angles to help the model analyze the condition more effectively.</p>
    </div>

</div>

    <div class="environment-stats" id="environment-stats" style="padding: 20px; min-height: 300px;">
        <h2 class="subheading">Environment Statistics</h2>
    
        <div class="stats-container">
            <div class="stat-item" style="margin-bottom: 20px;">
                <img src="{{ url_for('static', filename='temperature-icon.png') }}" alt="Temperature" class="stat-icon">
                <h3>Temperature</h3>
                <p>{{ retriever.temperature }}°C</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ retriever.temperature }}%; background-color: 
                        {% if retriever.temperature | int <= 20 %} red
                        {% elif retriever.temperature | int > 20 and retriever.temperature | int < 25 %} yellow
                        {% elif retriever.temperature | int >= 25 and retriever.temperature | int <= 28 %} #3FFF00 
                        {% elif retriever.temperature | int > 28 and retriever.temperature | int < 30 %} yellow 
                        {% else %} red 
                        {% endif %};">
                    </div>
                </div>
            </div>
            <div class="stat-item" style="margin-bottom: 20px;">
                <img src="{{ url_for('static', filename='humidity-icon.png') }}" alt="Humidity" class="stat-icon">
                <h3>Humidity</h3>
                <p>{{ retriever.humidity }}%</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ retriever.humidity }}%; background-color: 
                        {% if retriever.humidity | int <= 50 %} red
                        {% elif retriever.humidity | int > 50 and retriever.humidity | int < 70 %} yellow 
                        {% elif retriever.humidity | int >= 70 and retriever.humidity | int <= 90 %} #3FFF00
                        {% else %} red 
                        {% endif %};">
                    </div>
                </div>
            </div>
            <div class="stat-item" style="margin-bottom: 20px;">
                <img src="{{ url_for('static', filename='co2-icon.png') }}" alt="CO2 Level" class="stat-icon">
                <h3>CO2 Level</h3>
                <p>{{ retriever.co2 }} ppm</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ retriever.co2 }}%; background-color: 
                        {% if retriever.co2 | int < 1000 %} #3FFF00
                        {% else %} red 
                        {% endif %};">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}