{% extends "base.html" %}

{% block content %}
    
    <div class="upload-container">
        <div id="drop-area">
            <form class="upload-form" method="post" enctype="multipart/form-data">
                <p>Drag & drop an image or <label for="fileElem" class="browse-label">browse</label></p>
                <input type="file" id="fileElem" name="file" accept="image/*" required onchange="handleFiles(this.files)">
                <input type="submit" value="Upload">
            </form>
        </div>
        <div id="gallery"></div>
    </div>

    {% if result %}
        <h2>Prediction: {{ result }}</h2>
    {% endif %}

    <div class="environment-stats">
        <!-- <h2>Environmental Statistics</h2> -->
        <p>Temperature: {{ retriever.temperature }}°C</p>
        <p>Humidity: {{ retriever.humidity }}%</p>
        <p>CO2 level: {{ retriever.co2 }} ppm</p>
    </div>
{% endblock %}
