{% extends "base.html" %}

{% block content %}

    <h2 class="subheading" id="disease-detection">Disease Detection</h2>

    <div class="container">
        <div class="upload-container">
            <div id="drop-area">
                <img src="{{ url_for('static', filename='cloud.png') }}" alt="Upload Cloud" class="upload-icon">
                <form id="uploadForm" class="upload-form" method="post" enctype="multipart/form-data">
                    <p>Drag & drop, or <label for="fileElem" class="browse-label">browse</label> your files</p>
                    <input type="file" id="fileElem" name="file" accept="image/*" required onchange="handleFiles(this.files)">
                    <input type="submit" value="Predict" class="styled-upload-button">
                </form>
            </div>
        </div>

        <div class="image-container">
            <div id="gallery">
                {% if uploaded_image %}
                    <img src="{{ url_for('static', filename=uploaded_image) }}" alt="Uploaded Image">
                {% endif %}
            </div>

            {% if result %}
                <h2 id="prediction">Prediction: {{ result }}</h2>
            {% endif %}
        </div>
    </div>

    <div class="environment-stats">
        <h2 class="subheading" id="environment-stats">Environment Statistics</h2>
    
        <div class="stats-container">
            <div class="stat-item">
                <img src="{{ url_for('static', filename='temperature-icon.png') }}" alt="Temperature" class="stat-icon">
                <h3>Temperature</h3>
                <p>{{ retriever.temperature }}°C</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ retriever.temperature }}%;"></div>
                </div>
            </div>
            <div class="stat-item">
                <img src="{{ url_for('static', filename='humidity-icon.png') }}" alt="Humidity" class="stat-icon">
                <h3>Humidity</h3>
                <p>{{ retriever.humidity }}%</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ retriever.humidity }}%;"></div>
                </div>
            </div>
            <div class="stat-item">
                <img src="{{ url_for('static', filename='co2-icon.png') }}" alt="CO2 Level" class="stat-icon">
                <h3>CO2 Level</h3>
                <p>{{ retriever.co2 }} ppm</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ retriever.co2 }}%;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
